Repository openjs-foundation/cross-project-council, pull requests merged in 2019-02, with the labels that each got.

#80 doc: add initial CoC wording
  proposals/README.md
  proposals/stage-1/code-of-conduct/FOUNDATION_CODE_OF_CONDUCT_REQUIREMENTS.md
  proposals/stage-1/code-of-conduct/README.md
Labels: bootstrap-agenda, stage-1

#92 proposal: expectations to stage 2
  proposals/README.md
  proposals/stage-2/EXPECTATIONS/EXPECTATIONS.md
  proposals/stage-2/EXPECTATIONS/README.md
Labels: bootstrap-agenda, stage-2

#91 proposal: individual membership to stage 1
  proposals/README.md
  proposals/stage-1/individual-membership/INDIVIDUAL_MEMBERSHIP.md
  proposals/stage-1/individual-membership/README.md
Labels: bootstrap-agenda

#88 Project Progression - Stage 2
  proposals/stage-1/PROJECT_PROGRESSION/PROJECT_PROGRESSION.md
  proposals/stage-1/PROJECT_PROGRESSION/README.md
Labels: bootstrap-agenda, stage-2

#103 proposal: community board reps to stage 2
  proposals/README.md
  proposals/stage-2/COMMUNITY_BOARD_REPRESENTATION/README.md
Labels: bootstrap-agenda, stage-2
