Repository openjs-foundation/cross-project-council, pull requests merged in 2020-04, with the labels that each got.

#498 doc: clarify process that applies to WG approvals
  GOVERNANCE.md
Labels: governance

#496 doc: charter standards working group
  WORKING_GROUPS.md
Labels: governance, working group

#386 Add post-graduation checklist
  PROJECT_PROGRESSION.md
Labels: board approval required, cross-project-council-agenda

#529 Add a mentorship folder, and initial proposal for Google Season of Docs
  mentorship/2020/google-season-of-docs/README.md
Labels: cross-project-council-agenda, fast-track
